# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.project
.classpath
nbproject/
.netbeans/

# OS
.DS_Store
Thumbs.db

# Logs / local
*.log
local.env
.env
